li{
	list-style: none;
	font-style: italic;
	outline: none;
}

.level1 li:hover > .level2 .last-child{
	height: 10px;
	border-radius: 0 0 5px 5px;
	background: #111111;
}

.level1{
	position: relative;
}

.level1 li{
	display: inline-block;
	z-index: 9999;
	position:relative;
	text-align: center;
	width: 50px;
	height: 24px;
	line-height: 24px;
	margin:0;
	padding: 0 10px 0 10px;
}
.level1 li:hover > .level2 li{
	visibility: visible;
	opacity:1;
	z-index: 9999;
	height: 30px;
	line-height: 30px;
}

.level1 li:hover{
	cursor: pointer;
	background: #171717;
	color: #ffffff;
	text-shadow: 0 0 3px #fff;
}


/*************/
/*************/
/*************/
/*************/


.level2{
	position: absolute;
	top:24px;
	left: 0;
	height:0;
}
.level2 li{
	visibility: hidden;
	height: 0;
	width: 125px;
	border-bottom:solid #ccc 1px;
	background: #303030;
	padding-left: 5px;
	text-align: left;
	color: #2ea3f2;
	text-shadow: none;
	z-index: 9999;
}

.level2 li:first-child{
	border-top:solid #ccc 1px;
}
.level2 li:last-child{
	border: none;
}

.level2 li:hover{
	background: #171717;
	color: #ffffff;
	text-shadow: 0 0 3px #fff;
}