
.icon-arrows-cw-outline:before { content: '\e800'; } /* '' */
.icon-arrows-cw:before { content: '\e801'; } /* '' */
.icon-eye-outline:before { content: '\e802'; } /* '' */
.icon-move-outline:before { content: '\e803'; } /* '' */
.icon-resize-full-outline:before { content: '\e804'; } /* '' */
.icon-resize-full:before { content: '\e805'; } /* '' */
.icon-move-1:before { content: '\e806'; } /* '' */
.icon-eye:before { content: '\e807'; } /* '' */